@import "tailwindcss";

@theme{
    /*fonts*/
    --font-inter: "Inter", sans-serif;
    --font-plus: "Plus Jakarta Sans", sans-serif;
  
    /* colors */
    --color-blackish-ash: #47464F;
    --color-navy-dark: #070235;
    --color-light-blue: #F2F3FF;
}

body{
    background-color: #FAF8FF;
    font-family: "Inter", sans-serif;
}

input:focus-visible{
    outline: none;
}